@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ooops.";
}

<h1 class="text-danger">We're sorry but you encountered a problem.</h1>
<h2 class="text-danger">An unforseen problem just happened. Don't worry though, some of the best technicians are currently combing the code to find the problem and sort it out.</h2>
<p>Hang tight and hopefully if you retry what you were doing it will work, if not, the internet Gods have it in for you.</p>

