<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Rentify.Sites' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>184900cc-dddf-4a64-b058-c3ee844a0c43</InstrumentationKey>
</ApplicationInsights>